@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&family=Inter:wght@100;200;300&family=Lustria&family=Maitree:wght@200;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  @apply h-screen scroll-smooth bg-black;
}

.feedbackOverlay {
  @apply tablet:bg-black tablet:bg-opacity-0;
}

.background-settings {
  @apply bg-black h-screen text-white bg-Earth bg-no-repeat py-3 bg-blend-screen contrast-200 saturate-150 bg-[length:470px_460px] bg-[center_top_7.8rem] sm:bg-[length:570px_550px] sm:bg-[center_top_5.5rem] tablet:bg-blend-hard-light tablet:bg-[length:800px_800px] tablet:bg-[top_left_5rem] laptop:bg-[top_left_28rem] laptop:bg-[length:1000px_900px] overflow-hidden flex flex-col justify-between items-center tablet:py-8;
}

.profile-border {
  @apply border-transparent tablet:border tablet:border-indigo-700/60 rounded-sm tablet:border-opacity-40 transition-all duration-200;
}

.page-layout {
  @apply w-full text-white sm:px-1 tablet:px-3 tablet:h-[570px] laptop:h-[650px] desktop:h-[670px] tablet:mt-10 laptop:mt-5 laptop:w-11/12 tablet:bg-opacity-70 container mx-auto;
}

.userSearch {
  @apply w-64 h-10 sm:w-80 sm:h-10 tablet:w-44 tablet:h-7 laptop:w-52 desktop:w-60 laptop:h-8 rounded-full bg-gradient-to-r from-zinc-800/90 via-zinc-800/70 to-black/90 border-zinc-500/70 outline-none border border-x-0 border-t-0 border-[1.5px] text-base tablet:text-xs pl-9 tablet:pl-6 laptop:pl-5 placeholder-white focus:outline-none focus:placeholder:opacity-30 placeholder:opacity-70 placeholder:-translate-y-0 placeholder:text-[11px] sm:placeholder:text-[12px]  tablet:placeholder:-translate-y-0
  tablet:placeholder:text-[9px];
}

.nav {
  @apply mb-5 mt-3 sm:mb-4;
}

.arrow {
  @apply text-white bg-gray-200 bg-opacity-30 rounded-full p-1;
}

.searchButton {
  @apply w-5 h-5 opacity-90;
}

.transition-class {
  @apply transition-all ease-in-out duration-700;
}
